OP_ENTER       20
OP_LOCAL       32
OP_LOAD4
OP_ARG        8
OP_LOCAL       36
OP_LOAD4
OP_ARG       12
OP_LOCAL       16
OP_CONST       16
OP_CALL
OP_STORE4
OP_LOCAL       16
OP_LOAD4
OP_LEAVE       20
OP_PUSH
OP_LEAVE       20
OP_ENTER       20
OP_LOCAL       28
OP_LOAD4
OP_ARG        8
OP_LOCAL       32
OP_LOAD4
OP_ARG       12
OP_LOCAL       16
OP_CONST       32
OP_CALL
OP_STORE4
OP_LOCAL       16
OP_LOAD4
OP_LEAVE       20
OP_PUSH
OP_LEAVE       20
OP_ENTER        8
OP_LOCAL       16
OP_LOAD4
OP_LOCAL       20
OP_LOAD4
OP_ADD
OP_LEAVE        8
OP_PUSH
OP_LEAVE        8
